.header {
    background-color: #fff;
    height          : 80px;

    .header_top {
        height       : 40px;
        border-bottom: 1.5px solid #1DA57A;

        .userTitle {
            height      : 40px;
            float       : right;
            display     : flex;
            align-items : center;
            margin-right: 20px;

            p {
                margin-right : 10px;
                margin-bottom: 0;
            }
        }
    }

    .header_bottom {
        height     : 40px;
        line-height: 40px;

        .leftTitle {
            margin-left: 10%;
            float      : left;
            position   : relative;

            &::after {
                content         : '';
                position        : absolute;
                display         : block;
                border-top      : 14px solid rgb(255, 255, 255);
                border-right    : 14px solid transparent;
                border-bottom   : 14px solid transparent;
                border-left     : 14px solid transparent;
                z-index         : 99;
            }
        }

        .rightTitle {
            margin-right: 20px;
            float       : right;
            display     : flex;

            .dateTime {
                margin-right: 10px;
            }
        }
    }

}